/* importando as fontes baixadas: */
@font-face {
    font-family: 'JMH Typewriter';
    src: url(JMH Typewriter.ttf); /* endereço do diretório. */
}

html{ /* no CSS usa-se chaves*/
    height: 100%;
    margin: 0;
}

body{ 
    background-image: url("https://www.10wallpaper.com/wallpaper/1920x1200/1207/color_background-Abstract_design_wallpaper_1920x1200.jpg");
    height: 100%;
    margin: 0;
}

header{  
    display: flex;
    height: 20%;
}
aside1{
    display: flex;
    height: 100%;
    width: 82%;
  
}
aside1a{
   display: flex;
  justify-content: flex-start;
    height: 20%;
    width: 100%;
}
aside1b{  
   display: flex;
  justify-content: center;
    height: 80%;
    width: 100%;}

section1{
    justify-content: flex-end;
    height: 100%;
    width: 18%;
    
}

main{
    height: 50%;
    display: flex;
}

aside2{
    height: 100%;
    width: 18%;
    background-image: url("https://media.sketchfab.com/models/58f39d6346f447cf9526b76368f89449/thumbnails/5066e79988a94ee98c31d51899b33ae1/d0867e8cc3d346bb882e85076276bbd2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 90%
    
}

section2{
    height: 100%;
    width: 64%;
}

section3{
  height: 160%;
    width: 18%;
 background-image:url("https://upload.wikimedia.org/wikipedia/commons/1/17/Sokol_KV2.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

footer{
    height: 30%;
  
    
}

.atalhos :hover{
    height: 35px;  
    width: auto;
    margin: 3px;
    border-radius: 9px;
    border: solid 3px black;
    cursor: pointer;
    justify-content: flex-end;
}

.btns :hover{
    margin: 5px;
    height: 30px; 
    border-radius: 9px;
    border: solid 2px black;
    cursor: pointer;
    width: auto;
}

#inpt1 {
    height: 25px;
    width: 200px;
    margin: 7px;
}

#pageName{
    margin: 5px;
    justify-content: flex-end;

}




#paragrafo{
    font-size: 20px;
    margin: 10px;
    
}
#btnSecret{
    margin: 15px;
    height: 45px;
    border-radius: 6px 6px 6px 6px; /* indicados os 4 cantos do botão, sendo arredondados apenas 2 */
    border: solid 3px black;
    cursor: pointer; /* Muda o design do mouse quando o ponteiro está em cima do botão. */ 
    opacity: 5%;   /* O padrão é 100%; colocar 80% significa que diminuiu 20. */
    font-weight: bolder; /* Fonte em negrito. */
 
  
}

/* Ordem de prioridade:
1º Style (diretamente no HTML)
2º ID #
3º classe .
*/

/* para chamar uma fonte externa:
Baixar de algum site e deixar dentro do arquivo (pq as fontes são arquivos pequenos)
https://www.1001fonts.com/
https://www.dafont.com/pt/

para adicionar a fonte, primeiro baixar do site, descompactar para uma pasta no mesmo diretório do arquivo CSS.
*/
    
    /* background-color: blueviolet; */
    

