html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(27, 27, 63);
    margin: 0;
    display: flex;  /*    */
    justify-content: space-around;/* reposiciona o bot찾o para o meio da tela left-right.   */
    /*flex-direction: column;  transp천e radialmente. Como fizemos o bot찾o na primeira linha, usamos o row, o 'colunador', e vira uma coluna com o bot찾o no meio dela.   */
    align-items: center;
    
}   

.btn{
    height: 43px;
    width: 60px;
}

#btn2{
    height: 30px;
    

}