html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(27, 27, 63);
    margin: 0;
    display: flex;  /*    */
    justify-content: center;/* reposiciona o botão para o meio da tela left-right.   */
    flex-direction: column;/* transpõe radialmente. Como fizemos o botão na primeira linha, usamos o row, o 'colunador', e vira uma coluna com o botão no meio dela.   */

    
}


#btn{
    height: 30px;
    width: 50px;

}